.body {
    height: 100vh;
    width: 100%;
    font-weight: 700;
    background-color: #9C835F;
    font-family: 'Open Sans', sans-serif;
}

.brand {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}

.game-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
}

.player-name {
    font-size: 36px;
}

.user-choice {
    display: block;
}

.choice {
    width: 100px;
    align-self: center;
}

.but {
    background-color: transparent;
    border-color: transparent;
}

.used {
    display: flex;
    flex-direction: column;
}

.Versus {
    text-align: center;
    padding-top: 150px;
}

.Versus-h1 {
    font-size: 70px;
    color: red;
    font-weight: 700;
    align-self: center;
}

@media(min-width:750px) {
    .game-area {
        flex-direction: row;
        transform: translateX(15%);
    }

    .used {
        display: flex;
        flex-direction: column;
    }
}

#container {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

#container div {
    align-items: center;
    margin: 20px;
    width: 100;
}

.refresh {
    max-width: 80px;
    margin-top: 60px;
}

.winBox {
    height: 100px;
    display: grid;
    place-items: center;
    background: #4C9654;
    border-radius: 10px;
    margin: 15px auto;
    padding: 15px;

}

.drawBox {
    height: 100px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin: 15px auto;
    padding: 15px;
    background: #035B0C;
    border-radius: 10px;
}

.chosen {
    background-color: #C4C4C4;
    border-radius: 30px;
}