.TITLE{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30%;
    font-weight: bold;
    align-content: center;
}

.sub-title{
    text-align: center;
    display: flex;
    padding-top: 2%;
    justify-content: center;
}

section{
    width: 100%;
    height: 100vh;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("/images/chapter3/assets/main-bg.jpg");
    /* Set a specific height */
    height: 100vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gallery {
    width: 100%;
    height: 100vh;
    background-image: url(/images/chapter3/assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nb{
    padding-top: 15px;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;

}

.wrapper{
    text-align: center;
}

.header-scroll-toggle{
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    padding-top: 10%;
}

.FC{
    color: white;
}

.gl-left-side{
    color: white;
    max-width: 30vw;
    padding-top: 10%;
    
}

.gl-righ-side{
    display: flex;
    text-align: center;
    max-width: 30px;
    max-height: 60px;
}


.c-item{
    height: 300px;

}

.c-img{
    height: 100%;
    object-fit: cover;
}

.c-slide{
    margin-left: 50%;
    padding-right: 10px;
}

.features-image{
    width: 100%;
    height: 100vh;
    background-image: url(/images/chapter3/assets/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feat-text{
    text-align: end;
    padding-top: 30%;
}

.feat-subs{
    flex-wrap: wrap;
}

.sysreq{
    width: 100%;
    height: 100vh;
    background-image: url(/images/chapter3/assets/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.req-info-top{
    padding-top: 20%;
}

.score{
    width: 100%;
    height: 100vh;
    background-image: url(/images/chapter3/assets/top-score-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.score-left-side{
    color: white;
    padding-top: 5%;
}

.c-style{
    justify-content: flex-end;
}

.footer-hero{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.foo-c{
    color: white;
}

.footer-r{
    background-color: #000;
    color: white;
    padding: 3em;
    margin-top: auto;
}